body {
    background-image: url('./Assets/bg.jpg');
    color: white;
}

h1 {
    text-align: center;
    font-size: 50px;
}

#convert_textarea {
    font-size: 20px;
    position: absolute;
    bottom: 200px;
    left: 50px;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    border: none;
    resize: none;
}

#mic_icon {
    position: absolute;
    top: 500px;
    left: 250px;
}

#mic_icon:hover {
    cursor: pointer;
}

#sign_textarea {
    font-size: 20px;
    position: absolute;
    bottom: 200px;
    left: 800px;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    border: none;
    resize: none;
}

.credits {
    position: absolute;
    top: 625px;
    left: 425px;
}
